{% extends 'base.html' %}

{% block title %}About Us - PGK Academy{% endblock %}

{% block content %}
    <!-- About Us Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>About Us</h1>
                <p>PGK Academy is a dynamic online learning platform dedicated to helping you unlock your full potential. We believe that education should be accessible to everyone, everywhere. </p>
                <p>Our mission is to provide a diverse range of high-quality courses, taught by industry experts, that empower you to acquire new skills, pursue your passions, and achieve your goals. Whether you're looking to enhance your career, explore new interests, or simply expand your knowledge, PGK Academy is here to guide you on your learning journey. Join our vibrant community of learners today and embark on a path of continuous growth and discovery.</p>
            </div>
            <div class="col-md-6">
                <img src="https://img.freepik.com/premium-vector/online-school-logo-learning-logo-design-vector_567288-21.jpg" alt="About Us Image" class="img-fluid rounded">
            </div>
            <p class="mt-4"><a href="{{ url_for('views.home') }}">Return to Home</a></p>
        </div>
    </div>
    <br>

{% endblock %}