<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PGK Academy{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('views.home') }}">PGK Academy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('course.view_course') }}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.about_us') }}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.contact') }}">Contact</a>
                    </li>
                    <!--Signup and login buttons-->
                    {% if current_user.confirmed and current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.dashboard') }}">Dashboard</a>
                    </li>
                    {% else %}
                    <div class="d-flex">
                      <a class="btn btn-outline-primary" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                      &nbsp; &nbsp;
                      <a class="btn btn-outline-primary" href="{{ url_for('auth.login') }}">Login</a>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!--getting flashed messages red when error and green when success-->
    {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {% if category == 'success' %}alert-success{% elif category == 'info' %}alert-info{% elif category == 'warning' %}alert-warning{% elif category == 'danger' %}alert-danger{% else %}alert-secondary{% endif %} alert-dismissible fade show" role="alert">
        <strong class="me-1">{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


    <!-- Content -->
    <div class="container mt-5">
        {% block content %}
        <section class="py-lg-16 py-6">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class=" col-xxl-5  col-xl-6 col-lg-6 col-12">
                <div>
                  <h1 class="display-2 fw-bold mb-3">Learn today’s most in-<u class="text-warning"><span class="text-primary">demand-skills</span></u></h1>
                  <ul class="list-unstyled mb-5">
                    <li class="mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--geeks-success)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                      </svg>
                      <span class="ms-2">No credit card required</span>
                    </li>
                    <li class="mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--geeks-success)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                      </svg>
                      <span class="ms-2">Customer service 24/7</span>
                    </li>
                    <li class="mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--geeks-success)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                      </svg>
                      <span class="ms-2">No setup fee</span>
                    </li>
                    <li class="mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--geeks-success)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                      </svg>
                      <span class="ms-2">Cancel any time</span>
                    </li>
                  </ul>
                  <a href="{{ url_for('auth.sign_up') }}" class="btn btn-primary btn-lg">Get Started</a>
                </div>
              </div>
              <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6 col-12 d-lg-flex justify-content-end">
                  <div class="mt-12 mt-lg-0 position-relative">
                    <img src="https://www.aismt13.fr/wp-content/uploads/2020/12/E-Learning-illustation-pdf.jpg" alt="online course" class="img-fluid rounded-4 w-100 z-1 position-relative">
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br>
        {% endblock %}
    </div>

    <!-- Footer -->
    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5 mx-auto
">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #45526e"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Online Academy
            </h6>
            <p>
              Hello, we are PGK Academy. We are a team of passionate developers
              who are trying to make a difference in the world of education.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-white" href="{{ url_for('views.home') }}"
                 >Home</a>
            </p>
            <p>
              <a class="text-white" href="{{ url_for('views.about_us') }}"
                 >About Us</a>
            </p>
            <p>
              <a class="text-white" href="{{ url_for('course.view_course') }}"
                 >Courses</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Ethiopia</p>
            <p><i class="fas fa-envelope mr-3"></i> pgkonlineacademy@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +251941220158</p>
          <!--  <p><i class="fas fa-print mr-3"></i></p>-->
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2024 Copyright:
              <a class="text-white" href="{{ url_for('views.home') }}"
                 >Home</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
            <p class="mt-3">You can also follow us on social media:</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/PGK-Academy-100101265724996" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://twitter.com/PGKAcademy1" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="https://www.instagram.com/pgkacademy/" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/pgk-academy-1b1b3b220/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <br>


  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->

    <!-- Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>