{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-end">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-person-circle"></i>
    Profile
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">My Profile</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="{{ url_for('course.create_course') }}">Create Course</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
    </ul>
    
    </ul>
</div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Welcome to your dashboard, {{ current_user.username }}</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2 class="text-center">Available Courses</h2>
    </div>

    <!--Courses card-->
    <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Python Foe Beginners</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
    </div>
{% endblock %}