{% extends 'base.html' %}

{% block title %}Edit Profile - PGK Academy{% endblock %}

{% block content %}
<div class="d-flex justify-content-end">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="{{ url_for('static', filename='profile_pics/' + current_user.profile_picture) }}" alt="Profile Picture" class="bi bi-person-circle img-fluid rounded-circle" style="width: 40px; height: 40px;">
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ url_for('profile.profile_page', user_id=current_user.id) }}"><i class="bi bi-person-circle"></i>My Profile</a>
        <a class="dropdown-item" href="{{ url_for('profile.upload_picture', user_id=current_user.id) }}">&nbsp;<i class="bi bi-gear"></i>Settings</a>
        <li><hr class="dropdown-divider"></li>
        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout&nbsp;<i class="bi bi-box-arrow-right"></i></a>
      </ul>
      
      </ul>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Edit Profile</h1>

        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Username</h5>
          </div>
          <div class="card-body">
            <form method="POST" action="{{ url_for('profile.change_username', user_id=current_user.id) }}">
              <div>
                <h1 class="text-center">Current Username: {{ current_user.username }}</h1>
              </div>
              <div class="form-group">
                <label for="new_username">New Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <br>
              <button type="submit" class="btn btn-primary position-relative">Save</button>
            </form>
          </div>
        </div>
        
        <div class="card mt-4">
          <div class="card-header">
            <h5 class="card-title">Profile Picture</h5>
          </div>
          <div class="card-body text-center">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.profile_picture) }}" alt="Profile Picture" class="bi bi-person-circle img-fluid rounded-circle" style="width: 40px; height: 40px;">
            <form id="profileForm" method="POST" action="{{ url_for('profile.upload_picture', user_id=current_user.id) }}" enctype="multipart/form-data">
              <div class="form-group">
                <label for="profile_picture" class="btn btn-secondary">
                  Upload New Picture
                  <input type="file" name="profile_picture" id="profile_picture" hidden>
                </label>
                <br>
              </div>
              <br>
              <button type="submit" id="" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>

        <!--Delete account-->
        <div class="card mt-4">
          <div class="card-header">
            <h5 class="card-title">Delete Account</h5>
          </div>
          <div class="card-body">
            <form method="POST" action="{{ url_for('profile.delete_profile', user_id=current_user.id) }}">
              <div>
                <h1 class="text-center">Are you sure you want to delete your account?</h1>
              </div>
              <br>
              <button type="submit" id="delete" onclick="deleteChecking()" class="btn btn-danger position-relative">Delete</button>
            </form>
          </div>
          <script src="{{ url_for('static', filename='js/edit_profile.js') }}"></script>
      </div>
    </div>
  </div>
{% endblock %}