{% extends 'base.html' %}

{% block title %}Login - PGK Academy{% endblock %}

{% block content %}
<div
class="container d-flex align-items-center justify-content-center"
style="height: 100vh"
>
<div class="card shadow-lg" style="width: 30rem">
  <div class="card-header text-center">
    <img
      src="https://static.vecteezy.com/system/resources/previews/022/014/159/non_2x/avatar-icon-profile-icon-member-login-isolated-vector.jpg"
      alt="Key and lock symbol"
      class="img-fluid mb-3"
      style="width: 100px"
    />
    <h2>Welcome Back!</h2>
  </div>
  <div class="card-body">
    <form method="POST" action="{{ url_for('auth.login') }}">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="d-flex align-items-center">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
          <button
            type="button"
            class="btn btn-outline-secondary ms-2"
            id="password-toggle"
          >
            <i class="bi bi-eye-slash"></i>
          </button>
        </div>
        <small class="text-muted"
          >Forgot your password?
          <a href="#">Click here to reset</a></small
        >
      </div>
      <button type="submit" class="btn btn-primary mt-3">Log In</button>
      <p class="mt-4">
        <a href="{{ url_for('views.home') }}">Return to Home</a>
      </p>
    </form>
  </div>
  <div class="card-footer text-center">
    <p>
      Don't have an account?
      <a href="{{ url_for('auth.sign_up') }}" class="link-primary"
        >Sign up here</a
      >
    </p>
  </div>
</div>
</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<br />
{% endblock %}