<!-- templates/reset_password.html -->

{% extends 'base.html' %}

{% block title %}Password reset - PGK Academy{% endblock %}

{% block content %}
<div
  class="container d-flex flex-column align-items-center justify-content-center h-100"
>
  <div class="card rounded-lg shadow-sm border-0 bg-light p-4">
    <h2 class="text-center mb-4">Reset Password</h2>

    <form
      method="POST"
      action="{{ url_for('auth.reset_password', token=token) }}"
    >
    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <div class="input-group">
        <input type="password" class="form-control" id="password" name="new_password" placeholder="Enter your password" required oninput="validatePassword()">
        <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
          <i class="bi bi-eye-slash"></i>
        </button>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Confirm Password</label>
        <div class="input-group">
          <input type="password" class="form-control" id="confirmPassword" name="confirm_password" placeholder="Enter your password" required oninput="validatePassword()">
          <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
            <i class="bi bi-eye-slash"></i>
          </button>
        </div>
        <br>
      <button type="submit" class="btn btn-outline-success">
        Reset Password
      </button>
    </form>

    <p class="mt-3 text-center">
      <a href="{{ url_for('views.home') }}">Return to Home</a>
    </p>
  </div>
</div>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
